.wrapper {
    background-color: var(--bg-recept);
    width: 100%;
    box-sizing: border-box;
}


@media (max-width: 375px) {
    .layout {
      padding: 27px 10px; 
      flex-wrap: wrap;
    }
}
.layout p{
    margin-top: 26px;
    margin-bottom:22px ;
}